
<%= form_for @listing, html: {multipart: true} do |form| %>
  <div class="form-group">
    <%=form.label :name%>
    <%= form.text_field :name, placeholder:"Be clear and descriptive", style:"width:100%;" %>
  </div>
  <div class="form-group">
    <%=form.label :description%>
    <%= form.text_area :description, placeholder:"Tell travelers what you love about the space", style:"width:100%;" %>
  </div>  
  <div class="form-group">
    <%=form.label :city%>
    <%= form.text_field :city, placeholder:"Your city", style:"width:100%;" %>
  </div>         
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, placeholder:"Address", style:"width:100%;" %>
  </div>
  <div class="form-group">
    <%= form.label :no_of_guest %>
    <%= form.select :no_of_guest, (1...16)%>
  </div> 

  <div class="form-group">
    <%= form.label :room_type %><br>

      <div class="btn-group" data-toggle="buttons">
      <%= label_tag(:room_home, "Entire Home", class: "btn btn-default inactive btn-sm", autocomplete: "off") do %> 
        <%= radio_button "listing" ,:room_type, "Entire home"%>
      Entire Home
      <%end%>
      <%= label_tag(:room_private, "Private room", class: "btn btn-default inactive btn-sm") do %> 
        <%= radio_button "listing", :room_type, "Private room" %>
      Private Home
      <%end%>
      <%= label_tag(:room_shared, "Shared room", class: "btn btn-default inactive btn-sm") do %> 
      Shared Room
        <%= radio_button "listing", :room_type, "Shared room"%>
      <%end%>
      </div>

  <br>
  <div class="form-group">
    <%= form.label :price_per_night %>
    <%= form.text_field :price_per_night, placeholder:"RM XXX", style:"width:100%;" %>
  </div>

  <div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :avatars, multiple: true %>
  </div>
  

  <div class="form-group">
    <%= form.submit("Done",class:"btn btn-default btn-block") %>
  </div>

<% end%>