<!DOCTYPE html>
<html>
<head>
  <title>HomeBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'https://js.braintreegateway.com/v2/braintree.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class='container'>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<%= render 'layouts/log_in' %>
<%= render 'layouts/sign_up'%>


<%= yield %>

</body>

<br>
<br>

<footer>
  <br>
  <center>
  <div class="logo-icon">
   <%=image_tag("sam.jpg",class:"img-circle img-footer",alt:"Sam Kah Chiin") %>
  </div>
  <p  id="footer-text">All Copyright Reserved @ 2015 <br><i>Sam Kah Chiin</p>
  </center>
</footer>

</html>



